
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab:wght@500&family=Zen+Dots&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

li, a , button{
	font-family: Zen Dots;
	font-weight: 400;
	font-size: 14px;
	color: white;

}

.order a{
	text-decoration: none;
	font-family: Zen Dots;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 9px;
	 background:linear-gradient(#083359,#083345); 
	height: auto;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 5;
}


.order{
 list-style: none;

}

.order li{
 display: inline-block;
 padding: 0px 20px;
}

.order li a{
 transition: all 0.6s ease 0s;
}

.order li a:hover{
color: #ff9845;
}

 .btn-1{
	padding: 9px 25px;
	background : linear-gradient(to right, #96FA7F,#2CC989);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
	color: white;
}
 .btn-1:hover{
	background-color:white;
	z-index: 1;
	animation: glow 8s linear infinite;

	
}

.form-style{
	display: flex;
	width: 100%;
	padding: 10px 16px;
	background: linear-gradient(#083345,#083370);
	height: auto;
	border-radius: 10px;
}

.card-2{
	padding: 10px 15px;
	align-items: center;
	justify-content: space-between;
	width: auto;
	margin-top: 90px;
	height: 509px;
	background-color: white;
	margin-left: 13%;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.4);
	font-size: 20px;
	font-family: signika negative;
}

.card-1{
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 20px;
	align-items: center;
	width: 40%;
	justify-content: space-between;
	height: auto;
	margin-top: 75px;
	margin-left: 2%;
	font-size: 20px;
	font-family: signika negative;

}

.form-group{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width:35%;
	margin-top: 10px;
}


.form-group-1{
	display: flex;
	flex-wrap: wrap;
	width: 20%;
	margin-top: 10px;
	margin-right:30% ;
}

.form-group-2{
	display: flex;
	flex-wrap: wrap;
	width: 35%;
	margin-top: 10px;
	
}

.form-group-3{
	display: flex;
	flex-wrap: wrap;
	width: 40%;
	margin-top: 10px;
	margin-right: 10%;

}

.form-group-4{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 10px;
	

}

.form-group-5{
	display: flex;
	flex-wrap: wrap;
	width: 40%;
	margin-top: 10px;
}

.form-group-6{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 10px;
}


.alpa-1 .judul-apa{
	display: flex;
	flex-wrap: wrap;
	width:320px;
	height: 300px;
	padding: 12px 12px;
	margin-left: 2%;
	border-radius: 10px;
	font-family: signika negative;
}

.judul-apa .text-2{
	margin-left: 20px;
	margin-top: 25px;
	color: white;
}

.text-1{
	color: white;
	align-items: center;
	width: 255px;
	margin-bottom: 100px;
	font-size: 20px;
	margin-left: 90px;
}

.alpa-1 .out-1{
	display: flex;
	flex-wrap: wrap;
	width:250px;
	height: 300px;
	padding: 12px 12px;
	font-size: 20px;
	font-family: signika negative;

}

.out-1 .text-3{
	font-family: signika negative;
	margin-top:15px;
	color: white;
}

 .list .li-1{
	color: white;
	font-family: signika negative;
	list-style-image:url(../img/ig.ico) ;
	list-style-image width:100px ;
}

.list-1 .li-2{
	color: white;
	font-family: signika negative;
	list-style-image:url(../img/fb.ico) ;
	list-style-image width:100px ;
}

.list-2 .li-3{
	color: white;
	font-family: signika negative;
	list-style-image:url(../img/yt.ico) ;
	list-style-image width:100px ;
}

.list-3 .li-4{
	color: white;
	font-family: signika negative;
	list-style-image:url(../img/tik.ico) ;
	list-style-image width:100px ;
}
.alpa-1 .ourmaster{
	text-align: center;
	align-items: center;
	width: 200px;
	color: white;
	margin-top: 60px;
	
}

.ourmaster .pakmardi{
	width: 140px;
	height: auto;
	margin-top: -20px;
	margin-left: 20%;
}



















